.container {
  width: 960px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:   "header"
                          "main"
                          "footer";
  grid-template-rows:   1fr auto 1fr;
  grid-template-columns:  960px;

}

body{
  font-family: sans-serif;
}

header {
  grid-area: header;
  /* background-color: red; */

}

main {
  grid-area: main;
  /* background-color: green; */

  display: grid;

  grid-template-areas:   "nav section";
  grid-template-rows:   1fr;
  grid-template-columns: 1fr  4fr;
  padding-bottom: 20px;



}

nav {
  grid-area: nav;

}

nav ul {


}

nav ul li{
  list-style: none;

}


nav ul li a{
  text-decoration: none;
  color: #666;
}

nav ul li a:hover{
  color: #999;
}

section {
  grid-area: section;
  /* background-color: pink; */

}

footer {
  grid-area: footer;
  /* background-color: blue; */
  padding-top: 10px;
  text-align: center;

}

a{
  text-decoration: none;
  color: #666;
}

a:hover{
  color: #999;
}

#title{
  margin-left: 40px;
}

#schedule{

  display: grid;

  grid-template-rows:   1fr;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
  padding-bottom: 20px;

}

.centerText{
  text-align: center;
}

.labs{
  margin-bottom: 40px;
  border-bottom: solid 1px #c8c8c8;
  padding-bottom: 40px;

}
